# Docs: https://docs.github.com/en/actions


name: CI/CD

permissions:
  contents: read

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]


defaults:
  run:
    shell: bash


env:
  AWS_DEPLOY_ROLE: "arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/ranger-gha-deploy"
  AWS_ECR_IMAGE_PREFIX: "/${{ vars.DEPARTMENT_ID }}/"
  AWS_ECR_IMAGE_NAME: "${{ vars.PROJECT_ID }}"
  AWS_ECS_CLUSTER: ${{ vars.DEPARTMENT_ID }}
  AWS_ECS_CONTAINER_NAME: ${{ vars.PROJECT_ID }}
  AWS_ECS_SERVICE_STAGING: ${{ vars.PROJECT_ID }}-staging-fg
  AWS_ECS_TASK_DEFINITION_ARN_STAGING: "arn:aws:ecs:us-west-2:${{ secrets.AWS_ACCOUNT_ID }}:task-definition/${{ vars.PROJECT_ID }}-staging-fg"
  AWS_ECS_TASK_DEFINITION_FAMILY_STAGING: ${{ vars.PROJECT_ID }}-staging-fg
  AWS_REGION: us-west-2


jobs:

  check-syntax:
    name: Check PHP Syntax

    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@v2.13.2
        with:
          egress-policy: audit

      - name: Setup PHP 8.3
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'

      - name: Checkout source code
        uses: actions/checkout@v5

      - name: Check PHP Syntax
        run: ./bin/checkphpsyntax .


  docker-build:
    name: Build Docker image

    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:

      - name: Harden Runner
        uses: step-security/harden-runner@v2.13.2
        with:
          egress-policy: audit

      - name: Checkout source code
        uses: actions/checkout@v5

      - name: Get Composer Cache Directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache Composer Data
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Build Docker image
        run: ./bin/build

      - name: Save Docker image
        run: docker image save "${{ vars.PROJECT_ID }}:dev" | gzip -9 > docker_image.tgz

      - name: Upload Docker image artifacts
        uses: actions/upload-artifact@v5
        with:
          name: docker
          path: docker_image.tgz

  unit:
    name: Run unit tests

    needs: [docker-build]

    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:

      - name: Harden Runner
        uses: step-security/harden-runner@v2.13.2
        with:
          egress-policy: audit

      - name: Checkout source code
        uses: actions/checkout@v5

      - name: Download Docker image artifacts
        uses: actions/download-artifact@v6
        with:
          name: docker

      - name: Load Docker image
        run: gzip --uncompress --stdout docker_image.tgz | docker image load

      - name: Run unit tests
        run: ./bin/test_unit

  docker-test:
    name: Test Docker image

    needs: [docker-build]

    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:

      - name: Harden Runner
        uses: step-security/harden-runner@v2.13.2
        with:
          egress-policy: audit

      - name: Checkout source code
        uses: actions/checkout@v5

      - name: Download Docker image artifacts
        uses: actions/download-artifact@v6
        with:
          name: docker

      - name: Load Docker image
        run: gzip --uncompress --stdout docker_image.tgz | docker image load

      - name: Test Docker image
        run: ./bin/test_docker


  deploy-staging:
    name: Deploy to staging

    needs: [check-syntax, unit, docker-build, docker-test]
    if: github.ref == 'refs/heads/master'

    runs-on: ubuntu-latest
    timeout-minutes: 30

    permissions:
      id-token: write

    steps:

      - name: Harden Runner
        uses: step-security/harden-runner@v2.13.2
        with:
          egress-policy: block
          allowed-endpoints: >
            *.amazonaws.com:443
            *.docker.io:443

      - name: Download Docker image artifacts
        uses: actions/download-artifact@v6
        with:
          name: docker

      - name: Load Docker image
        run: gzip --uncompress --stdout docker_image.tgz | docker image load

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ env.AWS_DEPLOY_ROLE }}
          role-session-name: ranger-gha-${{ github.repository_id }}-${{ github.job }}-${{ github.run_id }}

      - name: Login to AWS ECR
        id: aws-login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Push docker image to Amazon ECR
        run: |
          image_repository="${{ steps.aws-login-ecr.outputs.registry }}${{ env.AWS_ECR_IMAGE_NAME }}"
          docker login
          # Push SHA tag
          docker tag "${{ vars.PROJECT_ID }}:${{ github.sha }}" "${image_repository}:${{ github.sha }}"
          docker push "${image_repository}:${{ github.sha }}"
          # Push staging rollback tag
          if docker pull "${image_repository}:staging"; then
            echo "Pushing rollback tag for staging"
            docker tag "${image_repository}:staging" "${image_repository}:staging_rollback"
            docker push "${image_repository}:staging_rollback"
          fi
          # Push staging tag
          echo "Pushing staging tag"
          docker tag "${image_repository}:${{ github.sha }}" "${image_repository}:staging"
          docker push "${image_repository}:staging"

      - name: Get current date
        id: date
        run: echo "date=$(date "+%Y-%m-%dT%H:%M:%S")" >> "${GITHUB_OUTPUT}"

      - name: Fetch and update current task definition
        id: new-task-definition
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition-arn: "${{ env.AWS_ECS_TASK_DEFINITION_ARN_STAGING }}"
          task-definition-family: "${{ env.AWS_ECS_TASK_DEFINITION_FAMILY_STAGING }}"
          container-name: "${{ env.AWS_ECS_CONTAINER_NAME }}"
          image: "${{ steps.aws-login-ecr.outputs.registry }}${{ env.AWS_ECR_IMAGE_NAME }}:${{ github.sha }}"
          environment-variables: |
            GHA_ACTOR_ID=${{ github.actor_id }}
            GHA_ACTOR=${{ github.actor }}
            GHA_EVENT_NAME=${{ github.event_name }}
            GHA_JOB=${{ github.job }}
            GHA_REF=${{ github.ref }}
            GHA_RUN_ATTEMPT=${{ github.run_attempt }}
            GHA_RUN_ID=${{ github.run_id }}
            GHA_RUN_NUMBER=${{ github.run_number }}
            GHA_TRIGGERING_ACTOR=${{ github.triggering_actor }}
            GHA_WORKFLOW=${{ github.workflow }}
            GIT_SHA=${{ github.sha }}
            TASK_UPDATED=${{ steps.date.outputs.date }}

      - name: Update task definition and ECS service
        uses: aws-actions/amazon-ecs-deploy-task-definition@v2
        with:
          task-definition: "${{ steps.new-task-definition.outputs.task-definition }}"
          service: "${{ env.AWS_ECS_SERVICE_STAGING }}"
          cluster: "${{ env.AWS_ECS_CLUSTER }}"
          wait-for-service-stability: true
